---
- name: Invalidate CloudFront cache
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - "{{ playbook_dir }}/vaults/prod.yml"

  vars:
    cloudfront_distribution_id: "{{ CLOUDFRONT_DISTRIBUTION_ID }}"

    invalidation_paths:
      - "/"
      - "/*"

  tasks:
    - name: Create CloudFront invalidation
      community.aws.cloudfront_invalidation:
        distribution_id: "{{ cloudfront_distribution_id }}"
        target_paths: "{{ invalidation_paths }}"
        aws_access_key: "{{ AWS_ACCESS_KEY_ID }}"
        aws_secret_key: "{{ AWS_SECRET_ACCESS_KEY }}"
        region: us-east-1
      register: invalidation_result

    - name: Show invalidation result
      ansible.builtin.debug:
        msg:
          - "CloudFront invalidation created"
